*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial;
    background-color: #f2f4f8;
    padding: 30px;
}

.container{

    width: 90%;
    max-width: 1200px;
    margin: auto;

    background: white;

    padding: 20px;

    border-radius: 10px;

    box-shadow:
    0 0 10px rgba(
    0,0,0,0.2
    );
}

h1{

    text-align: center;

    margin-bottom: 20px;

    color: #333;
}

.form-container{

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    justify-content: center;

    margin-bottom: 25px;
}

input{

    padding: 12px;

    width: 180px;

    border: 1px solid gray;

    border-radius: 5px;
}

button{

    padding: 12px 20px;

    border: none;

    background: green;

    color: white;

    border-radius: 5px;

    cursor: pointer;
}

button:hover{

    opacity: 0.9;
}

table{

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;
}

th{

    background: #007bff;

    color: white;

    padding: 12px;
}

td{

    border: 1px solid #ddd;

    padding: 12px;

    text-align: center;
}

tr:nth-child(even){

    background: #f8f8f8;
}
